---
title: Jen Arevalo UI/X Designer + Developer
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/courageawards-hero.jpg", {:title => "Courage Awards", :alt => "Courage Awards"})
      .photo__flag
        %p
          Branding / Print / UX
        %h3
          Courage Awards
    .summary__title
      %h1
        Courage Awards
      %p
        Fundraising gala and benefit dinner
    .summary__credits
      %ul
        %li
          Client: Wounded Warrior Project
        %li Role: Branding, Print, UX  
      %ul
        %li Marketing: Lindsay Garrity
        %li RD: Lindsey Kronforst, Ashby Barth
        %li Printing: Drummond Press
        %li Photography: Sade Malloy
    .summary__description
      %p
        Wounded Warrior Project celebrated the 10th anniversary of the Courage Awards & Benefit Dinner commemorating the mission of honoring injured service members, their caregivers, and most influential supporters. The layers of teams involved in this project played an integral role and set a precedent for charitable benefit galas. The memorable night garnered $1.5 million in donations for programs and services to honor and empower wounded warriors.
.callout
  .wrapper
    %p
      The 2015 event brought together more than 850 attendees, including more than 180 wounded warriors and their family members, and raised more than $1.5 million. The event also honored actor Mark Wahlberg, Bank of America, and Billy Casper Golf for their contributions to the organization.
.details
  .wrapper
    = image_tag("work/courageawards-screen.gif", {:title => "Courage Awards site", :alt => "Courage Awards site"})
.callout
  .wrapper
    %p
      Modifying the existing identity of this system was built upon rich storytelling, a balance of minimalism, and attention to detail to typography for both print and web. Applying a minimalist identity would not compete with the rest of the visual assets. The mark elevated the gala and redefined charitable benefit dinners.
.details
  .wrapper
    = image_tag("work/courageawards-logo-1.jpg", {:title => "logo drafts", :alt => "logo drafts"})
    = image_tag("work/courageawards-logo-2.jpg", {:title => "logo drafts", :alt => "logo drafts"})
    = image_tag("work/courageawards-logo-3.jpg", {:title => "logo drafts", :alt => "logo drafts"})
.callout
  .wrapper
    %p
      The identity was applied to various materials as a strategy to communicate to a wide target audience based on sponsors and donors preferred methods of communication detailed in the database. From personal invitations printed in metallic silver to linen-pressed note cards, and branded hotel key cards, the event would leave a lasting impression on the individuals. The 8 x 8 32-page program was filled with extensive statistics and inspirational stories from veterans who have received help from the organization.
.details
  .wrapper
    .details__split
      = image_tag("assets/images/work/courageawards-stationery-1.jpg", {:title => "stationery", :alt => "stationery"})
    .details__split
      = image_tag("assets/images/work/courageawards-stationery-2.jpg", {:title => "stationery", :alt => "stationery"})
.callout
  .wrapper
    %p
      The hallways and ballroom of the Waldorf Astoria in New York City featured "up close and personal" banners. The alumni are real people with real stories. The Courage Awards set to honor and empower them all and present to the sponsors and donors how each dollar donated benefits the veterans and their families.
.details
  .wrapper
    = image_tag("work/courageawards-onsite-1.jpg", {:title => "onsite banners", :alt => "onsite banners"})
    = image_tag("work/courageawards-onsite-2.jpg", {:title => "onsite banners", :alt => "onsite banners"})
.callout
  .wrapper
    %p
      This fundraising gala brought together injured service members, their caregivers and families, and the most influential WWP supporters. The celebratory event included a silent auction, text-to-pledge, and moving veteran stories.
.details
  .wrapper
    = image_tag("work/courageawards-gala-1.jpg", {:title => "gala", :alt => "gala"})
    = image_tag("work/courageawards-gala-2.jpg", {:title => "gala", :alt => "gala"})
    .details__split
      = image_tag("work/courageawards-gala-3.jpg", {:title => "gala", :alt => "gala"})
    .details__split
      = image_tag("work/courageawards-gala-4.jpg", {:title => "gala", :alt => "gala"})
    = image_tag("work/courageawards-gala-5.jpg", {:title => "gala", :alt => "gala"})
.callout.callout--quote
  .wrapper
    %p
      Such an amazing evening last night at #WWPCourageAwards - so honored to have been a part of the event!
    %cite
      Courage Awards attendee
.details
  .wrapper
    .details__split
      = image_tag("work/courageawards-post-event.jpg", {:title => "post-event email", :alt => "post-event email"})
    .details__split
      = image_tag("work/courageawards-gala-6.jpg", {:title => "gala", :alt => "gala"})
      = image_tag("work/courageawards-gala-7.jpg", {:title => "gala", :alt => "gala"})
      = image_tag("work/courageawards-gala-8.jpg", {:title => "gala", :alt => "gala"})
= partial "shared/contact"
