---
title: Jen Arevalo Visual Designer & Illustrator
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/doglog-hero.jpg", {:title => "DogLog", :alt => "DogLog"})
      .photo__flag
        %p
          Visual Design / UI / UX
        %h3
          DogLog
    .summary__title
      %h1
        DogLog
      %p
        Human-centered prototype app
    .summary__credits
      %ul
        %li
          Client:
          %a{:href => "https://www.k9sforwarriors.org/", :target => "_blank"}K9s For Warriors
        %li Role: User Research,  Front End Development  
      %ul
        %li Team: Jimmy Thai, Olivia Whitt 
        %li Creative Direction: Emily Gray
        %li Photography: Sade Malloy
    .summary__description
      %p
        DogLog is a prototype application for K9s For Warriors based on a human-centered design to help warriors and their new K9 guardians stay connected after the rescued dogs graduate from training camp.
      %p
        The application solves K9s For Warriors post-graduation communications by providing a journaling platform to help the trainers accomplish high-touch continued outreach with veterans and their dogs. 
      %a{:href => "https://invis.io/JM9ITTS82", :target => "_blank"}Check out the first prototype.
.callout
  .wrapper
    %p
      The design for the app was a throwback to the uniforms to keep a level of comfort. Fellow veterans using DogLog could read other stories and offer words of encouragement if a veteran was feeling a bit down. The veterans can also rate their feelings. If the rating was 1 out of 5, the trainer can be notified to check in and make sure the veteran was in a focused state of mind.
.details
  .wrapper
    = image_tag("work/doglog-screens.jpg", {:title => "DogLog iphone screens", :alt => "DogLog iphone screens"})
.callout
  .wrapper
    %p
      By developing personas, we found out veterans were more likely to detail their thoughts through writing and sharing photos as it was reminiscent to the camaraderie they had in the service. Trainers would be able to access the logs and keep tabs on the veteran and the dog. The main concern for the trainers was knowing how well the dogs were doing and if there was any benefit in having the dog with the veteran.
.details
  .wrapper
    .details__split
      = image_tag("work/doglog-personas-1.jpg", {:title => "DogLog persona veteran", :alt => "DogLog persona veteran"})
    .details__split
      = image_tag("work/doglog-personas-2.jpg", {:title => "DogLog persona trainer", :alt => "DogLog persona trainer"})
.callout
  .wrapper
    %p
      Exploring multiple dimensions of the veteran and trainer offered a quick way to have a comprehensive and integrated view of their role for this app. What do they say or need to say to others? How do they likely express themselves? What are their expectations and reactions, as well as their actions, and values?
.details
  .wrapper
    .details__split
      = image_tag("work/doglog-empathy-1.jpg", {:title => "DogLog empahty veteran", :alt => "DogLog empahty veteran"})
    .details__split
      = image_tag("work/doglog-empathy-2.jpg", {:title => "DogLog empathy trainer", :alt => "DogLog empathy trainer"})
.details
  .wrapper
    .details__split
      = image_tag("work/doglog-ideation-1.jpg", {:title => "DogLog veteran", :alt => "DogLog veteran"})
    .details__split
      = image_tag("work/doglog-ideation-2.jpg", {:title => "DogLog trainer", :alt => "DogLog trainer"})
.details
  .wrapper
    = image_tag("work/doglog-wireframes.jpg", {:title => "DogLog wireframes", :alt => "DogLog wireframes"})
= partial "shared/contact"
