---
title: Jen Arevalo Visual Designer & Illustrator
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/portfolio-hero.jpg", {:title => "Portfolio", :alt => "Portfolio"})
      .photo__flag
        %p
          Visual Design / UI / UX
        %h3
          Portfolio
    .summary__title
      %h1
        Portfolio
      %p
        Built with HAML and Sass, mixed with Bourbon and Neat
    .summary__credits
      %ul
        %li Role: Visual Design / UI / UX
    .summary__description
      %p
        Creating a static site written in Ruby would demonstrate my Haml and Sass skills. Using a templated, content management website builder is great to use for quick site setups, but it doesn't allow you to customize or represent your coding skills. The WYSIWYG format can deter and often handicap your role as a designer. This case study displays the project from concept to execution.
.callout
  .wrapper
    %p
      Knowing the amount content I wanted to feature, I began sketching out the grids and functionality of each page. How would the projects be laid out? Where would the navigation go? Making mentions of whether the navigator was fixed or the photo was set in a container made it easier to communicate this into Sketch. The idea of showcasing the project with an emphasis on the role would enable a viewer to see the range of skillsets.
.details
  .wrapper
    = image_tag("work/portfolio-sketches.jpg", {:title => "sketches", :alt => "sketches"})
.callout
  .wrapper
    %p
      I transferred my sketches into Sketch to prototype the flow and how the layout would appear in different screen scales. This is one of the many advantages of building a custom site versus a blogging platform.
.details
  .wrapper
    = image_tag("work/portfolio-screens.jpg", {:title => "portfolio screens", :alt => "portfolio screens"})
.callout
  .wrapper
    %p
      Middleman's ease of use made the project beneficial with rapid prototyping and streamlining the development process. I had years HTML/CSS experience under my belt, but I needed to push my skills further by working in Haml and Sass to keep up with industry trends. Another perk of creating my site, was the open-source feature. Designers and developers could check out the code in
      %a{:href => "http://github.com/jensif/jenarevalo"}GitHub.
.details
  .wrapper
    .details__split
      = image_tag("work/portfolio-atom.jpg", {:title => "Using Atom", :alt => "Using Atom"})
    .details__split
      = image_tag("work/portfolio-github.jpg", {:title => "portfolio GitHub", :alt => "portfolio GitHub"})
.callout
  .wrapper
    %p
      Key takeaways were creating markup in one place without the hassle of going into other pages to update the nav and footer. Yay for components and adding partials to compartmentalize code! So, where would I like to take this next?
= partial "shared/contact"
