.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/posters-hero.jpg", {:title => "Posters", :alt => "Posters"})
      .photo__flag
        %p
          Creative Direction
        %h3
          Posters
    .summary__title
      %h1
        Posters
      %p
        Music posters for annual gallery event
    .summary__credits
      %ul
        %li
          Client:
          %a{:href => "https://www.jacksonville.aiga.org/"} AIGA Jacksonville
        %li
          Role: Creative Direction, Illustration, Print
    .summary__description
      %p
        At the tail end of each summer, AIGA Jacksonville hosts the
        %a{:href => "alwayssummer"}Always Summer Poster Show + Mixtape.
        A premiere event for hosting the greater Jacksonville design scene, the organization asks designers to participate in the gallery event. The past six consecutive years, I've been able to submit artwork for the show. I became interested in the event because it married my two favorite loves: design and music. Each year, I attempt to challenge my artistic boundaries.
.callout
  .wrapper
    %p
      In 2012, I first experimented with low-poly illustrations. Using black and white hues for Notorious B.I.G "Party & Bullshit (Ratatat Remix)," I found it easier to manipulate the gradients and connect each of the polygons to create a futuristic figure with depth. This poster measured 24 x 36. It was a biggie! I was pleased with the outcome and decided to flex my geometric illustrations again in 2016 for the Beyoncé track "Sorry".
.details
  .wrapper
    .details__split
      = image_tag("work/posters-biggie.jpg", {:title => "Party & Bullshit poster", :alt => "Party & Bullshit poster"})
    .details__split
      = image_tag("work/posters-beyonce.jpg", {:title => "Sorry poster", :alt => "Sorry poster"})
.callout
  .wrapper
    %p
      Not only is designing around a song challenging — attempting to pick the essential summer song is hard because there are so many great ones from past and present. The two songs had been on heavy rotation for me everywhere I could plug into. The quintessential feel good music. I wanted to pass the emotion along to people checking out the posters.
    %p
      I have always had a passion for space and the cosmos, so both posters include a space theme. I wanted to keep the poster as simple as possible by letting the imagery do most of the talking while you listened to the song playing in the gallery.The music should do the talking while the posters serving as the visual extension. Simplistic yet so stylistic. The poster on the left is Dan le Sac vs Scroobius Pip "Cauliflower" (PRDCTV Remix). The poster on the right is Architecture In Helsinki "Escapee" (Polish Ambassador Remix).
.details
  .wrapper
    .details__split
      = image_tag("work/posters-cauliflower.jpg", {:title => "Cauliflower poster", :alt => "Cauliflower poster"})
    .details__split
      = image_tag("work/posters-escapee.jpg", {:title => "Escapee poster", :alt => "Escapee poster"})
.callout
  .wrapper
    %p
      For 2014, I created two posters for one song. Father John Misty "Honeybear" reverbs with striking contrasts in the lyrics. The back and forth tug of everything being doomed, but everything being fine is enough to leave one lost in emotion. The track inspired a (functioning) maze with the words embedded into it all leading up to the honey bear. The poster was printed on glossy photo paper with the sheen of the paper making the yellow color appear gold.
.details
  .wrapper
    .details__split
      = image_tag("work/posters-honeybear-1.jpg", {:title => "Honeybear poster white", :alt => "Honeybear poster white"})
    .details__split
      = image_tag("work/posters-honeybear-2.jpg", {:title => "Honeybear poster black", :alt => "Honeybear poster black"})
.callout
  .wrapper
    %p
      On July 5, 2015, I embarked on a trip to Victoria, BC. Loading up my iPhone with electronic music for the multiple hikes, I became hooked on Odesza and Jamie XX. At the time of my visit to British Columbia, fires engulfed most of the forests in Vancouver. It was one of the hottest, driest summers. The left poster is for Odesza "Sun Models" track. Inspired by the Copernican Model, "the Sun would be the embodiment of the eternal, all-powerful, and light and life-giving," powerful enough to cover the mountains of BC in a blanket of smoke.
    %p
      The poster on the right is for Jamie XX's "Good Times". After leaving the mountains of Vancouver, I took a ferry to Victoria and enjoyed the pristine Canadian waters. Good times were had in Victoria.
.details
  .wrapper
    .details__split
      = image_tag("work/posters-sunmodels.jpg", {:title => "Sun Models poster", :alt => "Sun Models poster"})
    .details__split
      = image_tag("work/posters-jamiexx.jpg", {:title => "Good Times poster", :alt => "Good Times poster"})
= partial "shared/contact"
