---
title: Jen Arevalo UI/X Designer + Developer
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/thepost-hero.jpg", {:title => "The Post", :alt => "The Post"})
      .photo__flag
        %p
          UI / UX / Data Visualization
        %h3
          The Post
    .summary__title
      %h1
        The Post
      %p
        Electronic newsletter case study
    .summary__credits
      %ul
        %li
          Client: Wounded Warrior Project
        %li
          Role: UI / UX / Data Visualization
    .summary__description
      %p
        In 2014, research was conducted on the users who received The Post—an electronic newsletter sent weekly to over 60,000 WWP veterans providing special program information and registration for upcoming events taking place in their area. Veterans can participate in collegiate and professional sporting events, outdoor activities, and educational sessions – benefiting every stage of recovery through engagement, mind, body, and economic empowerment.
      %p
        We found success by increased audience engagement, elevated click-rates, and streamlined registration.
.callout
  .wrapper
    %p
      The assignment called for a roundtable with select teammates and subject matter experts to develop survey questions for subscribers who receive the newsletter. We would formulate critical survey questions to mold the content, analyze responses, and modify the current design of The Post for a better user experience.
.details
  .wrapper
    .details__stats
      %h2
        14
      %h3
        Questions
    .details__stats
      %h2
        30
      %h3
        Days active
    .details__stats
      %h2
        674
      %h3
        Total responses
.callout
  .wrapper
    %p
      Creative mandates were to apply the survey questions and feedback to improve a new design template for ExactTarget and adhere to brand standards. The new design would need to be user-friendly, scalable, and accessible. Survey objectives were to monitor trends (likes and dislikes, click rates - why do they open the email?), user interaction, reduce stress, reduce information—but maximize content, find design solutions through navigation, accessibility for screen readers, color blindness, and other visual and cognitive impairments, and compatibility across all displays.
.details
  .wrapper
    .details__split
      = image_tag("work/thepost-stat-1.jpg", {:title => "stats from survey", :alt => "stats from survey"})
    .details__split
      = image_tag("work/thepost-stat-2.jpg", {:title => "stats from survey", :alt => "stats from survey"})
    .details__split
      = image_tag("work/thepost-stat-3.jpg", {:title => "age stats from survey", :alt => "age stats from survey"})
    .details__split
      = image_tag("work/thepost-stat-4.jpg", {:title => "household stats from survey", :alt => "household stats from survey"})
.callout
  .wrapper
    %p
      The Post had been previously built in a different email service provider. The platform had proven to be difficult to insert new content, hiccups with the HTML, and a general lack of hierarchy. Transitioning to a new platform meant seamlessly integrating veteran information from Salesforce and events from Cvent. Enhancing features in CSS, responsive design, and user experience with the use of widgets would improve engagement and registration.
.details
  .wrapper
    = image_tag("work/thepost-email-before.jpg", {:title=> "The Post before redesign", :alt => "The Post before redesign"})
.callout
  .wrapper
    %p
      A UI toolkit was created to keep consistency across all of the organization's communications to build familiarity and trust for the brand and to reinforce accessibility. Updating the call to action "Register" to be a larger and bolder color limited the use of images and stood out better than a hyperlinked "Click here".
.details
  .wrapper
    = image_tag("work/thepost-uikit.jpg", {:title=> "ui toolkit", :alt => "ui toolkit"})
.callout
  .wrapper
    %p
      Initial hurdles were navigation and page layouts. They were difficult to understand and stressed the reader. Lengthy text without imagery to break the content caused the reader to easily lose interest. The solution was to break up the email into sections and add event images to improve the experience for optimized accessibility. We would also continue to run A/B testing to improve the amount of emails opened.
.details
  .wrapper
    .details__split
      = image_tag("work/thepost-wireframe.jpg", {:title => "wireframe accessibility", :alt => "wireframe accessibility"})
    .details__split
      = image_tag("work/thepost-email.jpg", {:title => "The Post after redesign", :alt => "The Post after redesign"})
= partial "shared/contact"
