---
title: Jen Arevalo UI/X Designer + Developer
---
.hero.hero--work
.summary
  .wrapper
    .summary__photo
      = image_tag("work/wwpimpact-hero.jpg", {:title => "Impact", :alt => "Impact"})
      .photo__flag
        %p
          Visual Design / UI / UX
        %h3
          WWP Impact
    .summary__title
      %h1
        WWP Impact
      %p
        Communicating impact because of supporters like you
    .summary__credits
      %ul
        %li
          Client: Wounded Warrior Project
        %li
          Role: Visual Design / UI / UX
      %ul
        %li
          Team: Lindsay Garrity, Sam vanden Hoek, Qualtrics
    .summary__description
      %p
        From concept to execution and research and development, the marketing and metrics team collaborated on a site for the organization's impact brochure to focus on in-depth survey information, comprehensive program offerings, and key performance indicators. Our target audiences were supporters, donors, strategic partners, and grant makers to showcase the impact their gifts make on wounded veterans.
.callout
  .wrapper
    %p
      Traditionally a tri-fold document, the impact brochure had proven success as a printed piece making its way into the mailboxes of donors and supporters and appearing in an episode of the Fox series "Bones" S09EP15 "The Heiress in the Hill" nationwide.
.details
  .wrapper
    .details__split
      = image_tag("work/wwpimpact-bones-1.jpg", {:title=> "Bones episode Critical Mention screen cap", :alt => "Bones episode Critical Mention screen cap"})
    .details__split
      = image_tag("work/wwpimpact-bones-2.jpg", {:title=> "Bones episode Critical Mention screen cap", :alt => "Bones episode Critical Mention screen cap"})
    = image_tag("work/wwpimpact-critical-mention.jpg", {:title => "Bones episode Critical Mention stats", :alt => "Bones episode Critical Mention stats"})
.callout
  .wrapper
    %p
      As lead designer, presenting a clean and digestible visual timeline for our older audience was key while adhering to brand standards to instill trust in those who give. The impact brochure, updated each spring, communicates the impact of the organization's program offerings in the previous fiscal year. Along with program impact statistics, the brochure shares key learnings and thorough findings from the annual alumni survey.
.details
  .wrapper
    = image_tag("work/wwpimpact-brochure-1.jpg", {:title=> "Front and back of brochure", :alt => "Front and back of brochure"})
    = image_tag("work/wwpimpact-brochure-2.jpg", {:title=> "Interior of brochure", :alt => "Interior of brochure"})
    .details__button
      %a{:href => "../assets/images/work/wwpimpact-brochure.pdf"}
        %button{:type => "button"} Printable brochure
.callout
  .wrapper
    %p
      In an effort to save donor dollars, the impact brochure included a companion website. The one-page bootstrapped site comprised the details from the printed brochure as anchored links and explored the warrior stories using a modal built with Bourbon and Neat for an interactive user experience.
.details
  .wrapper
    .details__split
      = image_tag("work/wwpimpact-webpage.jpg", {:title=> "impact page", :alt => "impact"})
    .details__split
      = image_tag("work/wwpimpact-modal.gif", {:title=> "impact page modal", :alt => "impact page modal"})
.callout
  .wrapper
    %p
      After checking out the stats and stories, donors could navigate to the donor tab and make a generous, tax-deductible donation enabling the organization to help thousands of injured warriors returning home.
.details
  .wrapper
    = image_tag("work/wwpimpact-donate.jpg", {:title=> "impact donation page", :alt => "impact donation page"})
= partial "shared/contact"
